<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>SRAD</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/main.css' %}">
    
</head>
<body style="background-color: rgb(255, 255, 255);">
    <div class="container-fluid p-5 " style="background-color: rgb(18, 46, 119);">
    </div>
    <div class="container-fluid p-5 text-white text-center" style="background-color: rgb(18, 46, 119);">
          <h1>SERVICES RAPIDES À DOMICILE</h1>      
          <p>Demandez et faites des services a des milliers d'utilisateurs</p>
      </div>
      <div class="container-fluid p-5 " style="background-color: rgb(18, 46, 119);">
      </div>


    {% include 'navbar.html' %}

    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    <!-- <img src = "{% static 'images/Models.jpg' %}" />-->
    
    {% block content %}

    {% endblock %}
</body>
</html>