{% extends 'main.html' %}


{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>

<div class = "home-container">

    <div>
        {% include 'base/topics_component.html' %}
        <a href = "{% url 'map_view' %}"> Map view</a>
    </div>

    <div>
        <h5>{{service_count}} services disponibles</h5>
        <a href = "{% url 'create-service' %}">Create Service</a>

        {% include 'base/feed_component.html' %}
    </div> 

    
</div>

{% endblock %}
