{% extends 'main.html' %}


{% block content %}
<div class="container pt-5 container-fluid">
<h1>Projet d'intégration</h1>
<div></div>
<h3>Informations sur l'idée de projet</h3>
    <p> 
    Projet consistant à rendre accessible à tous différents services. 
    Les services offerts dépendent de la saison actuelle ainsi que de la localisation de l'utilisateur. 
    Lors de l'inscription, l'utilisateur serait automatiquement considéré comme « Demandeur de Service ». 
    Dans le cas où ce dernier voudrait offrir des services, 
    il y aurait un lien lui permettant de s'afficher en tant qu'offreur de services dans la section « Compte ».
    </p>
    
    <h3>Services</h3>
    <ul>
        <li>Déneigement</li>
        <li>Tonte de gazon</li>
        <li>Entretien de piscine
            <ul>
                <li>Ouverture/Fermeture</li>
                <li>Nettoyage</li>
            </ul>
        </li>
        <li>Installation de TEMPO</li>
        <li>Nettoyages
            <ul>
                <li>De voitures</li>
                <li>De maison (Femme/Homme de ménage)</li>
            </ul>
        </li>
        <li>Déménagement</li>
      </ul> 
   
</div>
{% endblock %}
