{% extends 'main.html' %}

{% block content %}
<div class="container pt-5 container-fluid">
<h1>{{user.username}}</h1>
<h2>Voici vos demandes de service</h2>
<div>
    {% for service in services %}
        <div>
            {% if request.user == service.host %}
            <a href = "{% url 'update-service' service.id %}">Modifier</a>
            <a href = "{% url 'delete-service' service.id %}">Supprimer</a>
            {% endif %}

        
            {% if request.user == service.host %}
            <h5>{{service.id}} -- <a href="{% url 'message' service.id %}">{{service.name}}</a></h5>
            <small>{{service.topic.name}}</small>
            <hr>
            {% endif %}
                       
        </div>

    {% endfor %}
    </div>
</div>
{% endblock content %}