{% extends 'main.html' %}

{% block content %}

<h1>{{service.name}} </h1>

<p> {{service.description}}</p>

<p> {{service.address}}</p>

<div class="comment-wrapper">
    <h3>Conversation</h3>
    <hr>

    {% for message in service_messages %}
    <div>
        <small>@{{message.user}}  {{message.created|timesince}} ago</small>
        <p>{{message.body}}</p>
        <hr>
    </div>
    {% endfor %}
</div>

{% if request.user.is_authenticated %}
<div class="comment-form">
    <form method ="POST" action = "">
        {% csrf_token %}
        <input type="text" name="body" placeholder="Écrivez votre message...">
    </form>
</div>
{% endif %}

{% endblock %}
